.header {
  text-align: justify;
  letter-spacing: 1px;
  height: 9em;
  padding: 2em 10%;
  background: #2c3e50;
  color: #fff;
  &-logo{
    display: inline-block;
    vertical-align: middle;
   &:before {
     content: '';
     display: inline-block;
     vertical-align: middle;
     height: 100%;
   }
    &__link{
      text-decoration: none;
      color: #ffffff;
      height: 100%;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &-nav{
    display: inline-block;
    vertical-align: middle;
    &-item{
      display: inline-block;
      vertical-align: middle;
      &__link{
        padding: 1rem 1rem !important;
        color: #fff;
      }
    }
  }
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  @media screen and (max-width: 820px){

    .header {
      height: auto;
    }
    &-logo{
      height: auto;
      width: auto;
      display: block;
      text-align: center;
    }
    &-nav{
      height: auto;
      width: auto;
      display: block;
      text-align: center;
    }
  }
}


